body{
    background-color:#F3A2BE  ;
    /* background-image: url("img.img"); */
    /* background-repeat: no-repeat; */
    /* background-size: 1 */
font-family:Lobster
;
}


.box{
display: flex;
justify-content: center;
text-align: center;

}



.tasktable{
    width: 60%;
    /* height: 300px; */
    text-align: center;
    margin-top: 60px;
    background-color: #C6E6E3;
}



.header{
    
    background-color:#FFD3DD  ;
    color:#81BFB7 ;
    font-size: 15px;
    font-family:cursive;
    padding:5px ;
}

.header_btn{
    float: right;
    background-color:#FFD3DD  ;
    margin-right:10px ;
    margin-top: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    font-size:10px ;
     box-shadow: 0px 3px 5px rgba(168, 168, 136, .45) ; 
}


.header_btn:hover{
    box-shadow: 0px 3px 15px rgba(97, 97, 97, 0.83);
  transition: box-shadow 0.1s;
}

tasks{
display: flex;
text-align: left;
padding-bottom: 5px;
background-color: #C6E6E3;
padding-left: 40px;
border-bottom: solid #ccc .5px ;
}

.tasks:hover{
    box-shadow: 0px 3px 15px rgba(97, 97, 97, 0.83);
transition:   box-shadow .02;
}


.task__inf{
    width: 60%;
  
   color: #F3A2BE;


}

.task_action{

display: flex;
text-align:end;

justify-content: space-around;
align-items: center;
width: 40%;
}